body {
    font-family: oswald, helvetica, arial;     
}

#packagefinder {
	width: 460px;
}

.container {
	margin: 0 auto;
}

.container>div {
	margin-top: 30px;
}

body {
	margin: 0;
	text-align: center;
}

#log div {
    height: 20px;

    }
#log {
	height: 200px;
	width: 1024px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

.packagelabel, .radio, .radioGroup {
	float: left; 
}
.packagelabel,.gradient {
 	width: 640px;

}
.packagelabel {
    overflow: hidden;
}
.packagelabel, .radioGroup {
 	border-bottom: solid 1px #DDD;
}
label {
 margin-left: 10px;
}
.gradient {

background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 44%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(44%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 44%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 44%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 44%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 44%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
position: absolute;
}