body {
    font-family: oswald, helvetica, arial;     
}

#packagefinder {
	width: 460px;
}

.container {
	margin: 0 auto;
}

.container>div {
	margin-top: 30px;
}

body {
	margin: 0;
	text-align: center;
}

#log div {
    height: 20px;

    }
#log {
	height: 200px;
	width: 1024px;
	margin: 0 auto;
	text-align: left;
}

.packagelabel, .radio, .radioGroup {
	float: left; 
}
.packagelabel {
 	width: 640px;

}
.packagelabel, .radioGroup {
 	border-bottom: dashed 1px #444;
}
label {
 margin-left: 10px;
}